:root {

    /* Primárias */
    --primary-dark: #111827;
    --primary-medium: #2563eb;

    /* Tons neutros */
    --gray-light: #0f172a;
    --gray-medium: #94a3b8;
    --gray-dark: #e2e8f0;

    /* Branco */
    --white: #1e293b;

    /* Sombras */
    --shadow-default: rgba(0, 0, 0, 0.35);

    /* Extras */
    --card-bg: #1e293b;
    --hover-bg: #334155;
    --border-color: #334155;
      /* Sucesso */
    --success: #22c55e;
    --success-hover: #16a34a;
}

.is-hidden {
    display: none !important;
}
